<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pokenea.name}} - info</title>
</head>
<body>
    <h1>{{ pokenea.name }}</h1>
    
    <img src="{{ pokenea.image_url }}" alt="{{ pokenea.name }} Image" style="max-width: 300px;">

    <ul>
        <li>Habilidades: {{ pokenea.abilities }}</li>
        <li>Altura: {{ pokenea.height }}</li>
        <li>id: {{ pokenea.id }}</li>
        <li>Frase filosofica: {{ pokenea.phrase }}</li>
        <li>Contenedor: {{ container_id }}</li>

    </ul>
</body>
</html>
</html>